# LaTeX build artifacts
*.aux
*.log
*.out
*.synctex.gz

# (Opcional pero común)
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.bbl
*.blg
*.bcf
*.run.xml
*.nav
*.snm
*.vrb
*.xdv
*.dvi
*.ps
*.pdfsync
*.idx
*.ilg
*.ind
